/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face{
  font-family: 'Palatino Large Serifs';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/PalatinoLargeSerif-Bold.woff),
       url(../fonts/PalatinoLargeSerif-Bold.woff2);  
}

@keyframes blink{
  0%   { background-color: rgba(255, 0, 0, 1); };
  50%  { background-color: rgba(255, 0, 0, 0.5); };
  100% { background-color: rgba(255, 0, 0, 1); };
}

@media (hover: hover){
  #intro_link:hover{
    background-color: #f00;
    color: #f00;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  }

  .text_button:hover span{
    display: block;
  }

  .intro_text a:hover{
    color: #f00;
    text-decoration: none;
  }

  #intro_link:hover + #internal_squabbles_text .st0,
  #intro_link:hover + #internal_squabbles_text .st1{
    fill: #f00;
  }

  #home_link svg:hover .st0{
    fill: #f00;
    stroke: #f00;
  }

  #back_link svg:hover .st0,
  #back_link svg:hover .st1,
  .zoom_button svg:hover .zoom0,
  .zoom_button svg:hover .zoom1{
    fill: #f00;
    stroke: #f00;
  }
  #mc-embedded-subscribe:hover{
    background-color: #f00;
    color: #f00;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    cursor: pointer;
  }
}

.intro_text a:focus{
  outline: 3px solid #f00;
  outline-offset: 0.05rem;
  text-decoration: none;
  color: #f00;
}

a:focus{
  outline: 3px solid #f00;
  outline-offset: 0.05rem;
  text-decoration: none;
  color: #f00;
}

#intro_link:focus{
  background-color: #f00;
  color: #f00;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  outline
}

#mc-embedded-subscribe:focus{
  background-color: #f00;
  color: #f00;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  outline: 3px solid #f00;
  outline-offset: 0.05rem;
}

.text_button:focus span{
  display: block;
}

#intro_link:focus + #internal_squabbles_text .st0,
#intro_link:focus + #internal_squabbles_text .st1{
  fill: #f00;
}

#home_link:focus svg .st0{
  fill: #f00;
  stroke: #f00;
}

#back_link:focus svg .st0,
#back_link:focus svg .st1,
.zoom_button:focus svg .zoom0,
.zoom_button:focus svg .zoom1{
  fill: #f00;
  stroke: #f00;
}

#mce-EMAIL:focus{
  outline: 3px solid #f00;
  outline-offset: 0.05rem;
  color: #f00;
}


html,
body{
  font-family: 'Palatino Large Serifs', serif;
  font-size: 30px;
  font-weight: 800; 
  color: #000;
  line-height: 1.2;
}

body{
  background-color: #56add3;
}

header{
  position: relative;
  z-index: 10;
}

main{
  position: relative;
  z-index: 1;
}

header,
main{
  opacity: 0;
  transition: opacity ease 0.8s;
  -webkit-transition: opacity ease 0.8s;
}

body.loaded header,
body.loaded main{
  opacity: 1;
}

body:before{
  content: '';
  position: fixed;
  /*display: none;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-size: 30%;
  background-image: url(../img/texture.jpg);
  background-color: #56add3;
  mix-blend-mode: color-dodge;
  z-index: -1;
}
body:after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-color: #56add3;
  z-index: -10;
}

#home_link,
#back_link{
  position: fixed;
  display: block;
  top: 1.5rem;
  left: 1.4rem;
  z-index: 10;
}

#home_link svg{
  display: block;
  height: 3rem;
  width: auto;
}

#back_link svg{
  display: block;
  height: 2rem;
  width: auto;
}

#mc-embedded-subscribe-form{
  margin-top: 1rem;
}

.mc-field-group{
  width: auto;
  display: inline-block;
}

.mc-field-group .clear{
  display: inline-block;
}

#mce-EMAIL{
  font-family: 'Palatino Large Serifs', serif;
  font-weight: 800; 
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-bottom: 3px solid;
  padding: 0.2rem;
  width: calc(100% - 7rem);
  background-color: transparent;
}

#mc-embedded-subscribe{
  font-family: 'Palatino Large Serifs', serif;  
  font-weight: 800; 
  color: #000;
  background-color: #eed894;
  display: inline-block;
  text-decoration: none;
  border: 3px solid;
  padding: 0.2rem;
  border-radius: 0.2rem;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-transform: uppercase;
}

.small_type{
  font-size: 0.8em;
}

#intro{
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

#internal_squabbles_text{
  height: 50%;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.intro_text{
  width: 50%;
  /*border: 2px solid;*/
  padding: 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.intro_text a{
  color: #000;
}

.title{
  color: #f00;
  font-size: 3rem;
  line-height: 1;
}

#intro_link{
  position: fixed;
  bottom: 0.5rem;
  left: calc(50% + 0.5rem);
  width: calc(50% - 1rem);
  text-align: center;
  z-index: 10;
  color: #000;
  background-color: #eed894;
  display: inline-block;
  text-decoration: none;
  border: 3px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-transform: uppercase;
}

#map_outer_wrapper{
  position: fixed;
  top: 10vh;
  right: 8%;
  bottom: 10vh;
  left: 30%;
  overflow: hidden;
  border: 1.5rem solid #fff;
  border-image: url(../img/border.svg);
  border-image-repeat: round;
  border-image-slice: 33.33%;
  border-image-width: 1.5rem;
  background-color: #eed894;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
}

#map_inner_wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 175%;
  cursor: grab;
}

#map_inner_wrapper a:link .text_button{
  background-color: rgba(255,0,0,0.4);
  animation: blink 1s linear infinite alternate;
}

#map_inner_wrapper a:hover .text_button{
  background-color: #f00;
  animation: none;
}

#map_inner_wrapper a:visited .text_button{
  background-color: inherit;
  animation: none;
}

#map_inner_wrapper:active{
  cursor: grabbing;
}

#map_outer_wrapper:after{
  content: '';
  position: fixed;
  top: calc(10vh + 1.5rem);
  right: calc(8% + 1.5rem);
  bottom: calc(10vh + 1.5rem);
  left: calc(30% + 1.5rem);
  box-shadow: inset 0px 5px 5px rgba(0,0,0,0.6);
  border: 3px solid;
  z-index: 10;
  pointer-events: none;
}

#map_inner_wrapper img{
  width: 100%;
  -webkit-user-select:none;
 -khtml-user-select:none;
 -moz-user-select:none;
 -o-user-select:none;
  user-select:none;
  pointer-events:none;
}

.text_button:focus{
  outline: 3px solid #f00;
  outline-offset: 0.05rem;
}

.text_button{
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #f00;
  border-radius: 50%;
  box-shadow: none;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  z-index: 10;
  cursor: pointer;
  transform: scale(1);
  transform-origin: left;
}

.text_button span{
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-family: 'Palatino Large Serifs', serif;
  font-size: 0.8rem;
  font-weight: 800; 
  color: #f00;
  line-height: 1.2;
  width: 5rem;
  display: none;
}

#zoom_control_container{
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 100;
  width: 2.5rem;
  height: 5rem;
}

.zoom_button:focus{
  outline: 3px solid #f00;
  outline-offset: 0.05rem;
}

.zoom_button{
  position: absolute;
  width: auto;
  background: transparent;
  border: none; 
  cursor: pointer;
}

#zoom_indicators{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -3rem;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
}

#zoom_indicators img{
  width: 2.5rem;
  margin: 0.25rem 0;
  transform: scale(0.9);
  opacity: 0.4;
  transform-origin: center left;
}

#zoom_indicators #zoom2{
  opacity: 1;
  transform: scale(1);
}

body.zoom_in #map_inner_wrapper{
  width: 275%;
}

body.zoom_in #map_inner_wrapper{
  width: 275%;
}

body.zoom_in #mini_map_location{
  width: 7vw;
  height: 8.75vh;
}

body.zoom_in #zoom_indicators #zoom2{
  transform: scale(0.9);
  opacity: 0.4;
}

body.zoom_in .text_button{
  transform: scale(1.75);
}

body.zoom_in #zoom_indicators #zoom3{
  opacity: 1;
  transform: scale(1);
}

body.zoom_out #map_inner_wrapper{
  width: 100%;
}

body.zoom_out #mini_map_location{
  width: 19.2vw;
  height: 24vh;
}

body.zoom_out #zoom_indicators #zoom2{
  transform: scale(0.9);
  opacity: 0.4;
}

body.zoom_out #zoom_indicators #zoom1{
  opacity: 1;
  transform: scale(1);
}

body.zoom_out .text_button{
  transform: scale(0.65);
}

#zoom_out{
  bottom: 0;
}

.zoom_button svg{
  width: 100%;
}

.bailey{
  top: 50%;
  left: 50%;
}

.kit{
  bottom: 10%;
  right: 10%;
}

.ciara{
  top: 35%;
  left: 25%;
}

.matt{
  top: 17%;
  left: 18%;
}

.journal{
  top: 24%;
  right: 32%;
}

#mini_map_outer_wrapper{
  position: fixed;
  top: 45%;  
  left: 1.5rem;
  transform: translate(0%, -50%);
  width: calc(25% - 3rem);
}

#mini_map_location{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #f00;
  transform: translate(-50%, -50%);
  width: 11vw;
  height: 13.8vh;

  box-sizing: border-box;
  pointer-events: none;
}

#mini_map_outer_wrapper .text_button{
  width: 0.2rem;
  height: 0.2rem;
}

#mini_map_image{
  display: block;
  pointer-events: none;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
  width: 100%;

}

#text_map_container{
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

#text_map_inner_container{
  display: inline-block;
}

#map{
  display: inline-block;
  width: auto;
  max-width: calc(50vw - 6rem);
  max-height: calc(100vh - 8rem);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
}

#text_map_inner_container .text_button{
  width: 0.5rem;
  height: 0.5rem;
}

#text_section{
  position: relative;
  background-color: #eed894;
  color: #000;
  width: calc(50% - 1.5rem);
  margin-left: 50%;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 3px solid;
  box-sizing: border-box;
  z-index: 1;
}

#mobile_explanation{
  display: none;
}

@media (max-width: 1100px){
  body.map{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  #internal_squabbles_text{
    height: auto;
  }

  #home_link, #back_link{
    top: 5vh;
    left: 5vw;
  }

  #mini_map_outer_wrapper{
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    height: 30vh;
  }

  #mini_map_outer_wrapper img{
    width: auto;
    height: 100%;
  }

  #map_outer_wrapper{
    top: 40vh;
    bottom: 4vh;
    left: 5vw;
    right: 5vw;
  }
  #map_outer_wrapper:after{
    content: '';
    position: fixed;
    top: calc(40vh + 1.5rem);
    right: calc(5vw + 1.5rem);
    bottom: calc(4vh + 1.5rem);
    left: calc(5vw + 1.5rem);
    box-shadow: inset 0px 5px 5px rgba(0,0,0,0.6);
    border: 3px solid;
    z-index: 10;
    pointer-events: none;
  }
  #zoom_control_container{
    right: calc(4vw + 3rem);
    top: 4vh;
    bottom: auto;
    left: auto;
  }

  #mini_map_location{
    width: 19vw;
    height: 12vh;
  }


  #text_section{
    margin: 0;
    padding-top: 1.5rem;
    width: 100%;
    border: none;
  }

  .title{
    padding-left: 8rem;
    box-sizing: border-box;
  }

  #text_map_container{
    display: none;
  }
}
  
@media (max-width: 767px){

  #mobile_explanation{
    display: block;
    padding-left: 8rem;
    margin-bottom: 2rem;
    color: #f00;
  }

  #internal_squabbles_text path{
    fill: #f00;
  }
  html,
  body{
    font-size: 20px;
  }
  body.map{
  }

  #home_link,
  #back_link{
    top: 0.5rem;
    left: 1rem;
  }
  #map_outer_wrapper:after{
    display: none;
  }
  #map_outer_wrapper{
    border: none;
    margin-top: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: transparent;
  }
  #map_inner_wrapper{
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    transform: none !important;
    -webkit-transform: none !important;
    z-index: 1;
  }
  #map_inner_wrapper a{
    display: flex;
    color: #f00;
    margin-bottom: 3rem;
    /*text-decoration: none;*/
  }
  #map_inner_wrapper a:link .text_button{
    animation: none;
    -webkit-animation: none;
    background-color: transparent;
  }
  #map_outer_wrapper .text_button{
    position: static;
    transform: none;
  }
  .text_button{
    width: auto;
    height: auto;
  }
  .text_button span{
    display: inline;
    line-height: 1;
    position: static;
    transform: none;
    font-size: 2.5rem;
    hyphens: auto;
    word-break: break-all;
    padding-left: 8rem;
    width: auto;
  }
  #mini_map_location,
  #mini_map_outer_wrapper .text_button,
  #map_image{
    display: none;
  }
  #mini_map_outer_wrapper{
    top: 0rem;
    right: 0rem;
    left: 0;
    right: 0;
    height: 100%;
    transform: none;
  }
  #mini_map_outer_wrapper img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  #intro{
    height: auto;
    max-height: none;
    margin-bottom: 4rem;
  }
  #intro_link{
    width: calc(100% - 2rem);
    left: 1rem;
  }
  #mce-EMAIL{
    width: calc(100% - 8.25rem);
  }
  .intro_text{
    width: 100%;
  }
  #zoom_control_container{
    display: none;
  }
  #text_section{
    padding-top: 0.5rem;
  }
  .title{
    hyphens: auto;
    word-break: break-all;
    font-size: 2.5rem;
  }
}