/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face{
  font-family: 'Palatino Large Serifs';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/PalatinoLargeSerif-Bold.woff),
       url(../fonts/PalatinoLargeSerif-Bold.woff2);  
}

@keyframes blink{
  0%   { opacity: 0.5; };
  50%  { opacity: 1; };
  100% { opacity: 0.5; };
}

@media (hover: hover){
  #intro_link:hover{
    background-color: #f00;
    border-color: #f00;
  }

  #intro_link:hover + #internal_squabbles_text .st0,
  #intro_link:hover + #internal_squabbles_text .st1{
    fill: #f00;
  }

  #home_link svg:hover .st0{
    fill: #f00;
    stroke: #f00;
  }

  #back_link svg:hover .st0,
  #back_link svg:hover .st1,
  .zoom_button svg:hover .zoom0,
  .zoom_button svg:hover .zoom1{
    fill: #f00;
    stroke: #f00;
  }
}


html,
body{
  font-family: 'Palatino Large Serifs', serif;
  font-size: 30px;
  font-weight: 800; 
  color: #000;
  line-height: 1.2;
}

body{
  background-color: #56add3;
}

body:before{
  content: '';
  position: fixed;
  /*display: none;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 30%;
  background-image: url(../img/texture.jpg);
  background-color: #56add3;
  opacity: 0.7;
  mix-blend-mode: color-dodge;
  z-index: -1;
}
body:after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-color: #56add3;
  z-index: -10;
}

#home_link,
#back_link{
  position: fixed;
  display: block;
  top: 1.5rem;
  left: 1.4rem;
  z-index: 10;
}

#home_link svg{
  display: block;
  height: 3rem;
  width: auto;
}

#back_link svg{
  display: block;
  height: 2rem;
  width: auto;
}

#intro{
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

#internal_squabbles_text{
  max-height: calc(100% - 12rem);
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.intro_text{
  width: 50%;
  /*border: 2px solid;*/
  padding: 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.credits{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 0.6em;
}

.title{
  color: #f00;
  font-size: 3rem;
}

#intro_link{
  position: fixed;
  bottom: 2rem;
  left: calc(50% + 0.5rem);
  z-index: 10;
  color: #000;
  background-color: #eed894;
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  border: 3px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#map_outer_wrapper{
  position: fixed;
  top: 10vh;
  right: 8%;
  bottom: 10vh;
  left: 30%;
  overflow: hidden;
  border: 1.5rem solid #fff;
  border-image: url(../img/border.svg);
  border-image-repeat: round;
  border-image-slice: 33.33%;
  border-image-width: 1.5rem;
  background-color: #eed894;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
}

#map_inner_wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 175%;
  cursor: grab;
  transition: width ease 0.5s;
}

#map_inner_wrapper a:link{
  animation: blink 1s linear infinite alternate;
}

#map_inner_wrapper a:visited{
  animation: none;
  opacity: 1;
}

#map_inner_wrapper:active{
  cursor: grabbing;
}

#map_outer_wrapper:after{
  content: '';
  position: fixed;
  top: calc(10vh + 1.5rem);
  right: calc(8% + 1.5rem);
  bottom: calc(10vh + 1.5rem);
  left: calc(30% + 1.5rem);
  box-shadow: inset 0px 5px 5px rgba(0,0,0,0.6);
  border: 3px solid;
  z-index: 10;
  pointer-events: none;
}

#map_inner_wrapper img{
  width: 100%;
  -webkit-user-select:none;
 -khtml-user-select:none;
 -moz-user-select:none;
 -o-user-select:none;
  user-select:none;
  pointer-events:none;
}

.text_button{
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #f00;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  transform: scale(1);
  transition: transform ease 0.5s; 
}

#zoom_control_container{
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 100;
  width: 2.5rem;
  height: 5rem;
}

.zoom_button{
  position: absolute;
  width: auto;
  background: transparent;
  border: none; 
  cursor: pointer;
}

#zoom_indicators{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -3rem;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
}

#zoom_indicators img{
  width: 2.5rem;
  margin: 0.25rem 0;
  transform: scale(0.9);
  opacity: 0.4;
  transform-origin: center left;
  transition: transform ease 0.4s, opacity ease 0.4s;
}

#zoom_indicators #zoom2{
  opacity: 1;
  transform: scale(1);
}

body.zoom_in #map_inner_wrapper{
  width: 275%;
}

body.zoom_in #zoom_indicators #zoom2{
  transform: scale(0.9);
  opacity: 0.4;
}

body.zoom_in .text_button{
  transform: scale(1.75);
}

body.zoom_in #zoom_indicators #zoom3{
  opacity: 1;
  transform: scale(1);
}

body.zoom_out #map_inner_wrapper{
  width: 125%;
}

body.zoom_out #zoom_indicators #zoom2{
  transform: scale(0.9);
  opacity: 0.4;
}

body.zoom_out #zoom_indicators #zoom1{
  opacity: 1;
  transform: scale(1);
}

body.zoom_out .text_button{
  transform: scale(0.75);
}

#zoom_out{
  bottom: 0;
}

.zoom_button svg{
  width: 100%;
}

.bailey{
  top: 50%;
  left: 50%;
}

.kit{
  bottom: 10%;
  right: 10%;
}

.ciara{
  top: 35%;
  left: 25%;
}

.matt{
  top: 17%;
  left: 18%;
}

.journal{
  top: 24%;
  right: 32%;
}

#mini_map_outer_wrapper{
  position: fixed;
  top: 45%;  
  left: 1.5rem;
  transform: translate(0%, -50%);
  width: calc(25% - 3rem);
}

#mini_map_location{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #f00;
  transform: translate(-50%, -50%);
  width: 11vw;
  height: 13.8vh;
  box-sizing: border-box;
}

#mini_map_outer_wrapper .text_button{
  width: 0.2rem;
  height: 0.2rem;
}

#mini_map_image{
  display: block;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
  width: 100%;

}

#text_map_container{
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

#text_map_inner_container{
  display: inline-block;
}

#map{
  display: inline-block;
  width: auto;
  max-width: calc(50vw - 6rem);
  max-height: calc(100vh - 8rem);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
}

#text_map_inner_container .text_button{
  width: 0.5rem;
  height: 0.5rem;
}

#text_section{
  position: relative;
  background-color: #eed894;
  color: #000;
  width: calc(50% - 1.5rem);
  margin-left: 50%;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 3px solid;
  box-sizing: border-box;
}